{
  "plugins": [
    "@babel/plugin-proposal-class-properties", 
    "@babel/plugin-transform-flow-strip-types", 
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"]
}
/*
{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-flow-strip-types",
    ["lodash", { "id": ["lodash", "recompose"] }]
  ]
}
*/