.ReactCollapse--collapse {
  position: absolute;
  max-width: 800px;
  background-color: rgba(100, 255, 100, 0.1);
}

.ReactCollapse--content {
  position: relative;
  z-index: 101 !important;
  background: yellow;
}